{% extends "base.html" %}
{% block title %}Home{% endblock title %}


{% block content %}

{% comment %} <h1>Marks for {{ student.name }}</h1>
<ul>
    {% for mark in marks %}
        <li>{{ mark.subject }}: {{ mark.scores }}</li>
    {% endfor %}
</ul> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks</title>
</head>
<body>
    <div id="app">
        <h1>Student Marks</h1>
        <ul>
            <li v-for="mark in marks" :key="mark.id">
                <span>{{ mark.subject }}</span>: <span>{{ mark.score }}</span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                marks: []
            },
            mounted() {
                this.fetchMarks();
            },
            methods: {
                fetchMarks() {
                    axios.get('/api/student_marks/{{ student_id }}/')
                        .then(response => {
                            this.marks = response.data;
                        })
                        .catch(error => {
                            console.error('There was an error!', error);
                        });
                }
            }
        });
    </script>
</body>
</html>
{% endblock content %}


