<!-- teacher/edit_profile.html -->
{% extends 'base.html' %}
{% block title %}Thay đổi thông tin giáo viên{% endblock title %}



{% block content %}
  <div class="row" style="margin-top: 10rem">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card" style="background-color: #07478D">
          <div class="card-body">
              <h2 class="card-title text-white" style="margin-top: 2%;">Thay đổi thông tin giáo viên</h2>
              <form method="POST">
                  {% csrf_token %}
                  <table class="table">
                      <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nhập thông tin</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">Email</th>
                              <td>{{form.email }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Họ</th>
                              <td>{{form.first_name }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Tên</th>
                            <td>{{form.last_name }}</td>
                        </tr>
                      </tbody>
                  </table>
                  <button id="openModalBtn" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="width:100%">Lưu thay đổi</button>
              </form> 
          </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
{% endblock %}
