{% extends 'base.html' %}
{% block title %}Thông báo{% endblock title %}

{% block content %}
<div class="row" style="margin-left: 1%; margin-right: 1%">
    <div class="col-3"></div>
    {% comment %} Block Chọn Lớp Học {% endcomment %}
    <div class="col-6" style="padding: 10px; margin-top: 3rem">
        <div class="card" style="height: 30rem; border-radius: 20px">
            <div style="margin-top: 4%;margin-bottom :3% ; height:30%">
                <div style="border-bottom: 2px solid #2385C4; ">
                    <h4 class="card-title text-center font-weight-bold" style="margin-top: 0%; font-size:250%; margin-bottom: 4%; color: #11499C; ">THÔNG BÁO</h4>
                </div>
                <form method="GET" class="content" style=" width: 90%; margin: 0 auto; text-align: center;">
                    <div class="row" style="margin-top: 4rem">
                        <div class="col-1">

                        </div>
                        <div class="col-10">
                            <h4>Mật khẩu đã được đặt lại thành công</h4>
                            <p style="margin-top:2em">Bạn đã đặt lại mật khẩu thành công.<br> Bây giờ bạn có thể <a href="{% url 'Login' %}">đăng nhập</a> với mật khẩu mới của mình.</p>
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}