{% load i18n %}

{% blocktrans %}Bạn nhận được email này vì bạn đã yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Bấm vào nút bên dưới để tiếp tục quá trình đặt lại mật khẩu:{% endblocktrans %}

{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% trans 'Đặt lại mật khẩu' %}</a>
{% endblock %}

{% blocktrans %}Nếu bạn không yêu cầu việc này, bạn có thể bỏ qua email này và mật khẩu của bạn sẽ không thay đổi.{% endblocktrans %}

{% blocktrans %}Xin chân thành cảm ơn,{% endblocktrans %}
{{ site_name }} team