<!-- password_reset_form.html -->
{% extends 'base.html' %}

{% block content %}

  <div class="row" style="margin-top: 10rem">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card" style="background-color: #07478D">
          <div class="card-body">
              <h2 class="card-title text-white" style="margin-top: 2%;">Thay đổi mật khẩu</h2>
              <form method="POST">
                  {% csrf_token %}
                  <table class="table">
                      <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nhập thông tin</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">Email</th>
                              <td>{{form.email }}</td>
                          </tr>
                      </tbody>
                  </table>
                  <button id="openModalBtn" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="width:100%">Tiếp tục</button>
              </form> 
          </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
{% endblock %}