{% extends "base.html" %}
{% load static %}
{% block title %}Tổng kết{% endblock title %}
{% comment %} 
Tổng hợp tuần 
Như e tạo hôm trước
trường thứ tự toàn trường
{% endcomment %}




{% block content %}
{% comment %} <h1>Các Môn Học Trong Tuần Của Lớp: {{ classroom.name }}</h1>
    <ul>
        {% for lesson in lessons %}
            <li>{{ lesson.name }} - {{ lesson.date_time}}<br>{{lesson.comment}}</li>
        {% endfor %}
    </ul> {% endcomment %}

<div class="row"> 
    <div class="col-1"></div>

    <div class="col-10">
        <div class="row">
            <div class="col-3">
                <div class="card" style="margin-top: 1rem; margin-bottom: 1rem; height:35rem">
                    <h2 class="card-title text-center">Thông tin lớp</h2>
                    <div class="card-body">   
                        <div style="margin-top: 2%; margin-bottom: 2%">
                            <table class="table " >
                                <tbody>
                                <tr>
                                    <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Lớp</th>
                                    <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ classroom.name }}</td>
                                </tr>
                                <tr>
                                    <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Năm học</th>
                                    <td class="display-6 font-weight-bold" style="font-size: 1.2em">2023-2024</td>
                                </tr>
                                <tr>
                                    <th class="display-6 font-weight-bold" style="font-size: 1.2em" scope="row">Trung bình thi đua</th>
                                    <td class="display-6 font-weight-bold" style="font-size: 1.2em">{{ classroom.average_grade }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card" style="margin-top: 1rem; margin-bottom: 1rem; height:35rem">
                    <h2 class="card-title">Sơ Đồ Lớp</h2>
                    
                    <div class="card-body">
                        <div>
                            <div style="margin-bottom:1rem">
                                <form method="post">
                                    {% csrf_token %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    {{ assign_studentForm.seat }}
                                                </td>
                                                <td>
                                                    {{ assign_studentForm.student }}
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" style="width:80%" type="submit">Xếp chỗ</button>
                                                </td>
                                            </div>
                                        </thead>
                                    </table>
                                </form>
                            </div>
                        
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th><!-- Thẻ trống để chứa ký tự trắng cho góc trên bên trái -->
                                        {% for column in columns %}
                                        <th class="text-center">{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in rows %}
                                    <tr>
                                        <th>{{ row }}</th><!-- Hiển thị số hàng ở cột đầu tiên của mỗi hàng -->
                                        {% for column in columns %}
                                        <td> 
                                            {% for seat in seats %}
                                                {% if seat.row == row and seat.column == column %}
                                                    {% if not seat.student %}
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-danger text-white" style="width:100%">Trống</button>
                                                    </div>
                                                    
                
                                                    {% else %}
                                                    <div class="d-flex justify-content-center">
                                                    <a class="btn btn-primary text-white" href="{% url 'details' classroom.name seat.student.id %}" style="width:100%">{{ seat.student.name }}</a>
                                                    </div> 
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                
                                        
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                
                            </table>
                        </div> 
                    </div>
        
                </div>
            </div>
        </div>
    </div> 
    <div class="col-1"></div>   
</div>

<div class="row" style="margin-top: 1%">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card" style="background-color: #07478D">
            <div class="card-body">
                    <h2 class="card-title text-white" style="margin-top: 1rem;">Thông tin tuần học</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Thứ</th>
                                <th scope="col">Tiết</th>
                                <th scope="col">Môn</th>
                                <th scope="col">Bài dạy</th>
                                <th scope="col">Nhận xét</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% comment %} {% if mark_record %}
                                {% for mark in mark_record.Mark %}
                                    <tr>
                                        <th scope="row">Điểm</th>
                                        <td>{{ mark.Mark }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                    <tr>
                                        <th scope="row">Điểm</th>
                                        <td>Không có thông tin điểm cho học sinh này.</td>
                                        <td></td>
                                    </tr>
                            {% endif %} {% endcomment %}

                            {% for Lessons in Lessons %}
                            <tr>
                                <th scope="row">{{Lessons.date_time }}</th>
                                <td>{{Lessons.period }}</td>
                                <td>{{Lessons.subject}}</td>
                                <td>{{Lessons.name }}</td>
                                <td>{{Lessons.comment}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                

            </div>
        </div>
    </div> 
    <div class="col-1"></div>   
</div>
{% endblock content %}